{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Pharmacy</title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="{% static  '/customer/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static  '/customer/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static  '/customer/css/font-awesome.css' %}" rel="stylesheet">
	<!--pop-up-box-->
	<link href="{% static  '/customer/css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--//pop-up-box-->
	<!-- price range -->
	<link rel="stylesheet" type="text/css" href="{% static  '/customer/css/jquery-ui1.css' %}">
	
	<!-- fonts -->
	<link href="fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>
	<!-- top-header -->
	<!-- <div class="header-most-top">
		<p>Pharmacy</p>
	</div> -->
	<!-- //top-header -->
	<!-- header-bot-->
	<div class="header-bot">
		<div class="header-bot_inner_wthreeinfo_header_mid">
			<!-- header-bot-->
			<div class="col-md-4 logo_agile">
				
						
						
			<img src="{% static '/customer/images/FL.png' %}" width="300" height="100" alt=" "> 
				
			</div>
			<!-- header-bot -->
			<div class="col-md-8 header">
				<!-- header lists -->
				<ul>
					<!-- <a class="play-icon popup-with-zoom-anim"></a>
					<li><a href="{% url 'homepharmacy' %}">Pharmacy</a></li>  -->
					<!-- <li>
						<a class="play-icon popup-with-zoom-anim" href="#small-dialog1">
							<span class="fa fa-map-marker" aria-hidden="true"></span> Shop Locator</a>
					</li>
					<li>
						<a href="#" data-toggle="modal" data-target="#myModal1">
							<span class="fa fa-truck" aria-hidden="true"></span>Track Order</a>
					</li>
					<li>
						<span class="fa fa-phone" aria-hidden="true"></span> 001 234 5678
					</li>
					<li>
						<a href="#" data-toggle="modal" data-target="#myModal1">
							<span class="fa fa-unlock-alt" aria-hidden="true"></span> Sign In </a>
					</li>
					<li>
						<a href="#" data-toggle="modal" data-target="#myModal2">
							<span class="fa fa-pencil-square-o" aria-hidden="true"></span> Sign Up </a>
					</li> -->
					<li class="active">
						<a class="nav-stylehead" href="index.html">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="">
						<a class="nav-stylehead" href="about.html">About Us</a>
					</li>
					
					
					<li class="">
						<a class="nav-stylehead" href="faqs.html">Faqs</a>
					</li>
					
					<li class="">
						<a class="nav-stylehead" href="contact.html">Contact</a>
					</li>
					<li>
						<p>
							<h3>Welcome {{request.session.Firstname}}</h3>
						</p>
					</li>
				</ul>


				
				<!-- //header lists -->
				<!-- search -->
				<div class="agileits_search">
					<form action="{% url 'search'  %}" method="POST">
						{% csrf_token %}
						<input type="Search" name="search" placeholder="Search For Medicines and HealthProducts" required="">
						<button type="submit" class="btn btn-default" aria-label="Left Align">
							<span class="fa fa-search" aria-hidden="true"> </span>
						</button>
					</form>
				</div>
				<!-- //search -->
				<!-- cart details -->
				<div class="top_nav_right">
					<div class="wthreecartaits wthreecartaits2 cart cart box_1">
						<form action="#" method="post" class="last">
							<input type="hidden" name="cmd" value="_cart">
							<input type="hidden" name="display" value="1">
							<button class="w3view-cart" type="submit" name="submit" value="">
								<i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
							</button>
						</form>
					</div>
				</div>
				<!-- //cart details -->
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	
	
	
<div class="services-breadcrumb">
          <div class="agile_inner_breadcrumb">
                    <div class="container">
                              <ul class="w3_short">
                                        <li>
                                                  <a href="index.html">Home</a>
                                                  <i>|</i>
                                        </li>
                                        <li>Product Details</li>
                              </ul>
                    </div>
          </div>
</div>
<!-- //page -->
<!-- Single Page -->
<h3 class="tittle-w3l">Product Details
          
</h3>
{% if  Tablet %}
{% for i in Tablet %}
<div class="banner-bootom-w3-agileits">
          <div class="container">
                    <!-- tittle heading -->
		
                    <!-- //tittle heading -->
                  
                    {% csrf_token %}
                    <div>
                    <div class="col-md-5 single-right-left ">
                              <div class="grid images_3_of_2">
				<img src="{{MEDIA_URL}}{{i.Image.url}}" width="300" height="300" alt="">
                                        <!-- <div class="flexslider">
                                                  <ul class="slides">
                                                            <li data-thumb="images/si.jpg">
                                                                      <div class="thumb-image">
                                                                                <img src="images/si.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
                                                            </li>
                                                            <li data-thumb="images/si2.jpg">
                                                                      <div class="thumb-image">
                                                                                <img src="images/si2.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
                                                            </li>
                                                            <li data-thumb="images/si3.jpg">
                                                                      <div class="thumb-image">
                                                                                <img src="images/si3.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
                                                            </li>
                                                  </ul>
                                                  <div class="clearfix"></div>
                                        </div> -->
                              </div>
                    </div>
                    
                    <div class="col-md-7 single-right-left simpleCart_shelfItem">
                              <h3>{{i.Productname}}</h3>
                              <div class="rating1">
                                        <span class="starRating">
                                                  <input id="rating5" type="radio" name="rating" value="5">
                                                  <label for="rating5">5</label>
                                                  <input id="rating4" type="radio" name="rating" value="4">
                                                  <label for="rating4">4</label>
                                                  <input id="rating3" type="radio" name="rating" value="3" checked="">
                                                  <label for="rating3">3</label>
                                                  <input id="rating2" type="radio" name="rating" value="2">
                                                  <label for="rating2">2</label>
                                                  <input id="rating1" type="radio" name="rating" value="1">
                                                  <label for="rating1">1</label>
                                        </span>
                              </div>
                              <p>
                                        <span class="item_price">₹{{i.Price}}</span>
                                        <del>₹50.00</del><br>
				<label>Inclusive of all taxes</label><br>
                                        <label>Free delivery</label>
                              </p>
                              <div class="product-single-w3l">
				<p>
					<label>Product Details</label><br>
					{{i.Details}} 
				</p>
                              </div>
                              <div class="product-single-w3l">
                                       
                                        <p>
					<label>Product Description</label><br>
					
					{{i.ProductDescription}} 
                                        </p>
                              </div>
			<div>
				<label>Product Mfgdate : {{i.Mfgdate}}</label>
			</div>
			{% if i.status %}
                                               	<label>Status</label>
                                                    <div class="d-flex">
                                                    <a href="#" class="btn btn-danger">AVAILABLE</a>
                                               	 </div>
                                               
			{% else %}
			<label>Status</label>
					<div class="d-flex">
					<a href="#" class="btn btn-success">NOT AVAILABLE</a>
					</div>
					
			{% endif %}
			<!-- <div>
				<label>Product Status : {{key18.status}}</label>
			</div> -->
			<br>
			<br>

                              <form action="{% url 'addcart'   pk=request.session.id %}" method="POST" >
				{% csrf_token %}
				
				<label>
					<input type="hidden" name="cqty" value="1">
				</label>
				<input type="hidden" name="pprice" value="{{i.Price}}">
				<input type="hidden" name="pname" id="" value="{{i.Productname}}">
				<input type="hidden" name="proid" value="{{i.id}}">
				


				
			

				<button type="submit" class="btn btn-primary">Add To Cart</button>
			</form>

                    </div>
                  
                    </div>
                   
                    
                    
          </div>
</div>
{% endfor %}
{% endif %}

{% if  Ayurvediccare %}
{% for i in Ayurvediccare %}
<div class="banner-bootom-w3-agileits">
          <div class="container">
                    <!-- tittle heading -->
		
                    <!-- //tittle heading -->
                  
                    {% csrf_token %}
                    <div>
                    <div class="col-md-5 single-right-left ">
                              <div class="grid images_3_of_2">
				<img src="{{MEDIA_URL}}{{i.Image.url}}" width="300" height="300" alt="">
                                        <!-- <div class="flexslider">
                                                  <ul class="slides">
                                                            <li data-thumb="images/si.jpg">
                                                                      <div class="thumb-image">
                                                                                <img src="images/si.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
                                                            </li>
                                                            <li data-thumb="images/si2.jpg">
                                                                      <div class="thumb-image">
                                                                                <img src="images/si2.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
                                                            </li>
                                                            <li data-thumb="images/si3.jpg">
                                                                      <div class="thumb-image">
                                                                                <img src="images/si3.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
                                                            </li>
                                                  </ul>
                                                  <div class="clearfix"></div>
                                        </div> -->
                              </div>
                    </div>
                    
                    <div class="col-md-7 single-right-left simpleCart_shelfItem">
                              <h3>{{i.Productname}}</h3>
                              <div class="rating1">
                                        <span class="starRating">
                                                  <input id="rating5" type="radio" name="rating" value="5">
                                                  <label for="rating5">5</label>
                                                  <input id="rating4" type="radio" name="rating" value="4">
                                                  <label for="rating4">4</label>
                                                  <input id="rating3" type="radio" name="rating" value="3" checked="">
                                                  <label for="rating3">3</label>
                                                  <input id="rating2" type="radio" name="rating" value="2">
                                                  <label for="rating2">2</label>
                                                  <input id="rating1" type="radio" name="rating" value="1">
                                                  <label for="rating1">1</label>
                                        </span>
                              </div>
                              <p>
                                        <span class="item_price">₹{{i.Price}}</span>
                                        <del>₹50.00</del><br>
				<label>Inclusive of all taxes</label><br>
                                        <label>Free delivery</label>
                              </p>
                              <div class="product-single-w3l">
				<p>
					<label>Product Details</label><br>
					{{i.Details}} 
				</p>
                              </div>
                              <div class="product-single-w3l">
                                       
                                        <p>
					<label>Product Description</label><br>
					
					{{i.ProductDescription}} 
                                        </p>
                              </div>
			<div>
				<label>Product Mfgdate : {{i.Mfgdate}}</label>
			</div>
			{% if i.status %}
                                               	<label>Status</label>
                                                    <div class="d-flex">
                                                    <a href="#" class="btn btn-danger">AVAILABLE</a>
                                               	 </div>
                                               
			{% else %}
			<label>Status</label>
					<div class="d-flex">
					<a href="#" class="btn btn-success">NOT AVAILABLE</a>
					</div>
					
			{% endif %}
			<!-- <div>
				<label>Product Status : {{key18.status}}</label>
			</div> -->
			<br>
			<br>

                              <form action="{% url 'addcart'   pk=request.session.id %}" method="POST" >
				{% csrf_token %}
				
				<label>
					<input type="hidden" name="cqty" value="1">
				</label>
				<input type="hidden" name="pprice" value="{{i.Price}}">
				<input type="hidden" name="pname" id="" value="{{i.Productname}}">
				<input type="hidden" name="proid" value="{{i.id}}">
				


				
			

				<button type="submit" class="btn btn-primary">Add To Cart</button>
			</form>

                    </div>
                  
                    </div>
                   
                    
                    
          </div>
</div>
{% endfor %}
{% endif %}







<!-- //Single Page -->
<!-- special offers -->
				
<!-- //footer second section -->
<footer>
	<div class="container">
		<div class="w3l-grids-footer">
			<div class="col-xs-4 offer-footer">
				<div class="col-xs-4 icon-fot">
					<span class="fa fa-map-marker" aria-hidden="true"></span>
				</div>
				<div class="col-xs-8 text-form-footer">
					<h3>Track Your Order</h3>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-xs-4 offer-footer">
				<div class="col-xs-4 icon-fot">
					<span class="fa fa-refresh" aria-hidden="true"></span>
				</div>
				<div class="col-xs-8 text-form-footer">
					<h3>Free & Easy Returns</h3>+
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-xs-4 offer-footer">
				<div class="col-xs-4 icon-fot">
					<span class="fa fa-times" aria-hidden="true"></span>
				</div>
				<div class="col-xs-8 text-form-footer">
					<h3>Online cancellation </h3>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- //footer second section -->
		<!-- footer third section -->
		<div class="footer-info w3-agileits-info">
			<!-- footer categories -->
			<div class="col-sm-5 address-right">
				<div class="col-xs-6 footer-grids">
					<h3>Categories</h3>
					
					<ul>
						{% if key20 %}
						<li>
							{% for i in key20 %}
							
							<a href="product.html">{{i.Title}}</a>

							{% endfor %}
							
						</li>
						{% endif %}
						
						
					</ul>
					
				</div>
				<div class="col-xs-6 footer-grids agile-secomk">
					<ul>
						<li>
							<a href="product.html">Snacks & Beverages</a>
						</li>
						<li>
							<a href="product.html">Bread & Bakery</a>
						</li>
						<li>
							<a href="product.html">Sweets</a>
						</li>
						<li>
							<a href="product.html">Chocolates & Biscuits</a>
						</li>
						<li>
							<a href="product2.html">Personal Care</a>
						</li>
						<li>
							<a href="product.html">Dried Fruits & Nuts</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- //footer categories -->
			<!-- quick links -->
			<div class="col-sm-5 address-right">
				<div class="col-xs-6 footer-grids">
					<h3>Quick Links</h3>
					<ul>
						<li>
							<a href="about.html">About Us</a>
						</li>
						<li>
							<a href="contact.html">Contact Us</a>
						</li>
						<li>
							<a href="help.html">Help</a>
						</li>
						<li>
							<a href="faqs.html">Faqs</a>
						</li>
						<li>
							<a href="terms.html">Terms of use</a>
						</li>
						<li>
							<a href="privacy.html">Privacy Policy</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-6 footer-grids">
					<h3>Get in Touch</h3>
					<ul>
						<li>
							<i class="fa fa-map-marker"></i> 123 Sebastian, USA.</li>
						<li>
							<i class="fa fa-mobile"></i> 333 222 3333 </li>
						<li>
							<i class="fa fa-phone"></i> +222 11 4444 </li>
						<li>
							<i class="fa fa-envelope-o"></i>
							<a href="mailto:example@mail.com"> mail@example.com</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- //quick links -->
			<!-- social icons -->
			<div class="col-sm-2 footer-grids  w3l-socialmk">
				<h3>Follow Us on</h3>
				<div class="social">
					<ul>
						<li>
							<a class="icon fb" href="#">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a class="icon tw" href="#">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a class="icon gp" href="#">
								<i class="fa fa-google-plus"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="agileits_app-devices">
					<h5>Download the App</h5>
					<a href="#">
						<img src="{% static  '/customer/images/1.png' %}" alt="">
					</a>
					<a href="#">
						<img src="{% static  '/customer/images/2.png' %}" alt="">
					</a>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //social icons -->
			<div class="clearfix"></div>
		</div>
		<!-- //footer third section -->
		<!-- footer fourth section (text) -->
		<div class="agile-sometext">
			<!-- <div class="sub-some">
				<h5>Online Grocery Shopping</h5>
				<p>Order online. All your favourite products from the low price online supermarket for grocery home delivery in Delhi,
					Gurgaon, Bengaluru, Mumbai and other cities in India. Lowest prices guaranteed on Patanjali, Aashirvaad, Pampers, Maggi,
					Saffola, Huggies, Fortune, Nestle, Amul, MamyPoko Pants, Surf Excel, Ariel, Vim, Haldiram's and others.</p>
			</div>
			<div class="sub-some">
				<h5>Shop online with the best deals & offers</h5>
				<p>Now Get Upto 40% Off On Everyday Essential Products Shown On The Offer Page. The range includes Grocery, Personal Care,
					Baby Care, Pet Supplies, Healthcare and Other Daily Need Products. Discount May Vary From Product To Product.</p>
			</div> -->
			<!-- brands -->
			
			<!-- //brands -->
			<!-- payment -->
			<div class="sub-some child-momu">
				<h5>Payment Method</h5>
				<ul>
					<li>
						<img src="{% static  '/customer/images/pay2.png' %}" alt="">
					</li>
					<li>
						<img src="{% static  '/customer/images/pay5.png' %}" alt="">
					</li>
					<li>
						<img src="{% static  '/customer/images/pay1.png' %}" alt="">
					</li>
				
				</ul>
			</div>
			<!-- //payment -->
		</div>
		<!-- //footer fourth section (text) -->
	</div>
</footer>
<!-- //footer -->
<!-- copyright -->
<div class="copy-right">
	<div class="container">
		<p>© 2021 Doctor Finder. All Rights Reserved 
			
		</p>
	</div>
</div>
<!-- //copyright -->

<!-- js-files -->
<!-- jquery -->
<script src="{% static  '/customer/js/jquery-2.1.4.min.js' %}"></script>
<!-- //jquery -->


<!-- Large modal -->
<!-- <script>
	$('#').modal('show');
</script> -->
<!-- //popup modal (for signin & signup)-->

<!-- cart-js -->
<!-- <script src="{% static  '/customer/js/minicart.js' %}"></script>
<script>
	paypalm.minicartk.render(); //use only unique class names other than paypalm.minicartk.Also Replace same class name in css and minicart.min.js

	paypalm.minicartk.cart.on('checkout', function (evt) {
		var items = this.items(),
			len = items.length,
			total = 0,
			i;

		// Count the number of each item in the cart
		for (i = 0; i < len; i++) {
			total += items[i].get('quantity');
		}

		if (total < 3) {
			alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
			evt.preventDefault();
		}
	});
</script> -->
<!-- //cart-js -->




<!-- flexisel (for special offers) -->
<script src="{% static  '/customer/js/jquery.flexisel.js'%}"></script>
<script>
	$(window).load(function () {
		$("#flexiselDemo1").flexisel({
			visibleItems: 3,
			animationSpeed: 1000,
			autoPlay: true,
			autoPlaySpeed: 3000,
			pauseOnHover: true,
			enableResponsiveBreakpoints: true,
			responsiveBreakpoints: {
				portrait: {
					changePoint: 480,
					visibleItems: 1
				},
				landscape: {
					changePoint: 640,
					visibleItems: 2
				},
				tablet: {
					changePoint: 768,
					visibleItems: 2
				}
			}
		});

	});
</script>
<!-- //flexisel (for special offers) -->




<!-- smoothscroll -->
<script src="{% static  '/customer/js/SmoothScroll.min.js' %}"></script>
<!-- //smoothscroll -->

<!-- start-smooth-scrolling -->
<script src="{% static  '/customer/js/move-top.js' %}"></script>
<script src="{% static  '/customer/js/easing.js' %}"></script>
<script>
	jQuery(document).ready(function ($) {
		$(".scroll").click(function (event) {
			event.preventDefault();

			$('html,body').animate({
				scrollTop: $(this.hash).offset().top
			}, 1000);
		});
	});
</script>
<!-- //end-smooth-scrolling -->

<!-- smooth-scrolling-of-move-up -->
<script>
	$(document).ready(function () {
		/*
		var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
		};
		*/
		$().UItoTop({
			easingType: 'easeOutQuart'
		});

	});
</script>
<!-- //smooth-scrolling-of-move-up -->

<!-- for bootstrap working -->
<script src="{% static  '/customer/js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->
<!-- //js-files -->


</body>
</html>