<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Conditions </title>
    <span> READ THESE USER TERMS AND CONDITIONS OF USE (“TERMS AND CONDITIONS”) CAREFULLY BEFORE USING THE SERVICES OFFERED BY AMONGDOCTORS.COM (“AMONGDOCTORS” OR “US” OR “WE”). THESE TERMS AND CONDITIONS SET FORTH THE LEGALLY BINDING TERMS AND CONDITIONS FOR YOUR (“YOU” OR “YOUR” OR “USER”) USE OF THE WWW.AMONGDOCTORS.COM WEBSITE AND DOMAIN NAME (“SITE”), AND ANY SUBDOMAINS, FEATURES, CONTENT, OR APPLICATIONS OFFERED BY US, YOU AND THIRD PARTIES(COLLECTIVELY, THE “SERVICE”). THE SERVICE IS INTENDED FOR USE ONLY BY LICENSED PHYSICIANS. BY USING THE SERVICE IN ANY MANNER, INCLUDING BUT NOT LIMITED TO VISITING OR BROWSING THE SITE, YOU AGREE TO BE BOUND BY THESE TERMS AND CONDITIONS. FOR CLARITY, THESE TERMS and CONDITIONS APPLY TO ALL USERS OF THE SERVICE, INCLUDING USERS WHO ARE ALSO CONTRIBUTORS OF CONTENT, INFORMATION, AND OTHER MATERIALS OR SERVICES ON THE SITE.</span>
</head>
<body>
    
</body>
</html>